# Data Extraction

In [3]:
import numpy as np
import pandas as pd
from yaml import safe_load
import os
from tqdm import tqdm
import pickle

In [17]:
filenames=[]
for file in os.listdir(r'D:\ML Projects\CricketScorePredictor\T20dataset'):
    filenames.append(os.path.join(r'D:\ML Projects\CricketScorePredictor\T20dataset',file))

In [18]:
filenames[0:5]

['D:\\ML Projects\\CricketScorePredictor\\T20dataset\\1001349.yaml',
 'D:\\ML Projects\\CricketScorePredictor\\T20dataset\\1001351.yaml',
 'D:\\ML Projects\\CricketScorePredictor\\T20dataset\\1001353.yaml',
 'D:\\ML Projects\\CricketScorePredictor\\T20dataset\\1004729.yaml',
 'D:\\ML Projects\\CricketScorePredictor\\T20dataset\\1007655.yaml']

In [19]:
final_df=pd.DataFrame()
counter=1
for file in tqdm(filenames):
    with open(file,'r') as f:
        df=pd.json_normalize(safe_load(f))
        df['match_id']=counter
        final_df=pd.concat([final_df,df],ignore_index=True)
        counter+=1

100%|█████████▉| 1432/1433 [04:34<00:00,  5.22it/s]

NotImplementedError:

In [20]:
final_df

,innings,meta.data_version,meta.created,meta.revision,info.dates,info.gender,info.match_type,info.outcome.by.wickets,info.outcome.winner,info.overs,...,info.outcome.by.runs,info.match_type_number,info.neutral_venue,info.outcome.method,info.outcome.result,info.outcome.eliminator,info.supersubs.New Zealand,info.supersubs.South Africa,info.bowl_out,info.outcome.bowl_out
0,"[{'1st innings': {'team': 'Australia', 'delive...",0.9,2017-02-18,2,[2017-02-17],male,T20,5.0,Sri Lanka,20,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,"[{'1st innings': {'team': 'Australia', 'delive...",0.9,2017-02-19,2,[2017-02-19],male,T20,2.0,Sri Lanka,20,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,"[{'1st innings': {'team': 'Australia', 'delive...",0.9,2017-02-23,1,[2017-02-22],male,T20,NaN,Australia,20,...,41.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,"[{'1st innings': {'team': 'Hong Kong', 'delive...",0.9,2016-09-12,1,[2016-09-05],male,T20,NaN,Hong Kong,20,...,40.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,"[{'1st innings': {'team': 'Zimbabwe', 'deliver...",0.9,2016-06-19,1,[2016-06-18],male,T20,NaN,Zimbabwe,20,...,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1427,"[{'1st innings': {'team': 'Sri Lanka', 'delive...",0.9,2016-03-05,2,[2016-03-04],male,T20,6.0,Pakistan,20,...,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1428,"[{'1st innings': {'team': 'Bangladesh', 'deliv...",0.9,2016-03-08,1,[2016-03-06],male,T20,8.0,India,20,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1429,"[{'1st innings': {'team': 'Netherlands', 'deli...",0.9,2016-02-03,1,[2016-02-03],male,T20,NaN,Netherlands,20,...,84.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1430,"[{'1st innings': {'team': 'Australia', 'delive...",0.9,2016-09-12,1,[2016-09-06],male,T20,NaN,Australia,20,...,85.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1431,"[{'1st innings': {'team': 'Sri Lanka', 'delive...",0.9,2016-09-12,1,[2016-09-09],male,T20,4.0,Australia,20,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [21]:
backup=final_df.copy()

In [22]:
final_df['info.gender'].value_counts()

info.gender
male      966
female    466
Name: count, dtype: int64

In [23]:
final_df=final_df[final_df['info.gender']=='male']
final_df.drop(columns=['info.gender'],inplace=True)

C:\Users\User\AppData\Local\Temp\ipykernel_6572\698048062.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final_df.drop(columns=['info.gender'],inplace=True)

In [24]:
final_df.drop(columns=['meta.data_version',
    'meta.created',
    'meta.revision',
    'info.outcome.bowl_out',
    'info.bowl_out',
    'info.supersubs.South Africa',
    'info.supersubs.New Zealand',
    'info.outcome.eliminator',
    'info.outcome.method',
    'info.neutral_venue',
    'info.match_type_number',
    'info.outcome.by.runs',
    'info.outcome.by.wickets'],inplace=True)

C:\Users\User\AppData\Local\Temp\ipykernel_6572\1168137256.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final_df.drop(columns=['meta.data_version',

In [25]:
final_df['info.match_type'].value_counts()

info.match_type
T20    966
Name: count, dtype: int64

In [26]:
final_df['info.overs'].value_counts()

info.overs
20    963
50      3
Name: count, dtype: int64

In [27]:
final_df=final_df[final_df['info.overs']==20]
final_df.drop(columns=['info.overs','info.match_type'],inplace=True)

In [28]:
final_df.drop(columns=['info.outcome.result'],inplace=True)

In [29]:
import pickle
pickle.dump(final_df,open('dataset_level1.pkl','wb'))

In [30]:
matches=pickle.load(open('dataset_level1.pkl','rb'))

In [31]:
matches['info.city'].value_counts()

info.city
Abu Dhabi       50
Dubai           45
Colombo         37
Mirpur          36
Johannesburg    28
                ..
Sylhet           1
Guwahati         1
Kanpur           1
Taunton          1
Gros Islet       1
Name: count, Length: 117, dtype: int64

In [32]:
null_count = df['info.city'].isnull().sum()
print(null_count)

0

In [33]:
matches

,innings,info.dates,info.outcome.winner,info.player_of_match,info.teams,info.toss.decision,info.toss.winner,info.umpires,info.venue,match_id,info.city
0,"[{'1st innings': {'team': 'Australia', 'delive...",[2017-02-17],Sri Lanka,[DAS Gunaratne],"[Australia, Sri Lanka]",field,Sri Lanka,"[MD Martell, P Wilson]",Melbourne Cricket Ground,1,NaN
1,"[{'1st innings': {'team': 'Australia', 'delive...",[2017-02-19],Sri Lanka,[DAS Gunaratne],"[Australia, Sri Lanka]",field,Sri Lanka,"[SD Fry, SJ Nogajski]","Simonds Stadium, South Geelong",2,Victoria
2,"[{'1st innings': {'team': 'Australia', 'delive...",[2017-02-22],Australia,[A Zampa],"[Australia, Sri Lanka]",field,Sri Lanka,"[MD Martell, P Wilson]",Adelaide Oval,3,NaN
3,"[{'1st innings': {'team': 'Hong Kong', 'delive...",[2016-09-05],Hong Kong,NaN,"[Ireland, Hong Kong]",bat,Hong Kong,"[R Black, AJ Neill]","Bready Cricket Club, Magheramason",4,Londonderry
4,"[{'1st innings': {'team': 'Zimbabwe', 'deliver...",[2016-06-18],Zimbabwe,[E Chigumbura],"[Zimbabwe, India]",field,India,"[TJ Matibiri, RB Tiffin]",Harare Sports Club,5,NaN
...,...,...,...,...,...,...,...,...,...,...,...
1427,"[{'1st innings': {'team': 'Sri Lanka', 'delive...",[2016-03-04],Pakistan,[Umar Akmal],"[Pakistan, Sri Lanka]",field,Pakistan,"[AK Chaudhary, Enamul Haque]",Shere Bangla National Stadium,1428,Mirpur
1428,"[{'1st innings': {'team': 'Bangladesh', 'deliv...",[2016-03-06],India,[S Dhawan],"[Bangladesh, India]",field,India,"[RSA Palliyaguruge, Shozab Raza]",Shere Bangla National Stadium,1429,Mirpur
1429,"[{'1st innings': {'team': 'Netherlands', 'deli...",[2016-02-03],Netherlands,[Mudassar Bukhari],"[United Arab Emirates, Netherlands]",field,United Arab Emirates,"[CK Nandan, Sarika Prasad]",ICC Academy,1430,Dubai
1430,"[{'1st innings': {'team': 'Australia', 'delive...",[2016-09-06],Australia,[GJ Maxwell],"[Sri Lanka, Australia]",field,Sri Lanka,"[REJ Martinesz, RR Wimalasiri]",Pallekele International Cricket Stadium,1431,NaN
1431,"[{'1st innings': {'team': 'Sri Lanka', 'delive...",[2016-09-09],Australia,[GJ Maxwell],"[Sri Lanka, Australia]",bat,Sri Lanka,"[REJ Martinesz, RSA Palliyaguruge]",R Premadasa Stadium,1432,Colombo

In [34]:
matches.iloc[0]['innings'][0]['1st innings']['deliveries']

[{0.1: {'batsman': 'AJ Finch',
   'bowler': 'SL Malinga',
   'non_striker': 'M Klinger',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
 {0.2: {'batsman': 'AJ Finch',
   'bowler': 'SL Malinga',
   'non_striker': 'M Klinger',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
 {0.3: {'batsman': 'AJ Finch',
   'bowler': 'SL Malinga',
   'non_striker': 'M Klinger',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {0.4: {'batsman': 'M Klinger',
   'bowler': 'SL Malinga',
   'non_striker': 'AJ Finch',
   'runs': {'batsman': 2, 'extras': 0, 'total': 2}}},
 {0.5: {'batsman': 'M Klinger',
   'bowler': 'SL Malinga',
   'non_striker': 'AJ Finch',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
 {0.6: {'batsman': 'M Klinger',
   'bowler': 'SL Malinga',
   'non_striker': 'AJ Finch',
   'runs': {'batsman': 3, 'extras': 0, 'total': 3}}},
 {1.1: {'batsman': 'M Klinger',
   'bowler': 'KMDN Kulasekara',
   'non_striker': 'AJ Finch',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
 {1.2: {'batsman': 'M Klinger',
   'bowler': 'KMDN Kulasekara',
   'non_striker': 'AJ Finch',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {1.3: {'batsman': 'AJ Finch',
   'bowler': 'KMDN Kulasekara',
   'non_striker': 'M Klinger',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
 {1.4: {'batsman': 'AJ Finch',
   'bowler': 'KMDN Kulasekara',
   'non_striker': 'M Klinger',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
 {1.5: {'batsman': 'AJ Finch',
   'bowler': 'KMDN Kulasekara',
   'non_striker': 'M Klinger',
   'runs': {'batsman': 4, 'extras': 0, 'total': 4}}},
 {1.6: {'batsman': 'AJ Finch',
   'bowler': 'KMDN Kulasekara',
   'non_striker': 'M Klinger',
   'runs': {'batsman': 2, 'extras': 0, 'total': 2}}},
 {2.1: {'batsman': 'M Klinger',
   'bowler': 'JRMVB Sanjaya',
   'non_striker': 'AJ Finch',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {2.2: {'batsman': 'AJ Finch',
   'bowler': 'JRMVB Sanjaya',
   'non_striker': 'M Klinger',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {2.3: {'batsman': 'M Klinger',
   'bowler': 'JRMVB Sanjaya',
   'non_striker': 'AJ Finch',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
 {2.4: {'batsman': 'M Klinger',
   'bowler': 'JRMVB Sanjaya',
   'non_striker': 'AJ Finch',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
 {2.5: {'batsman': 'M Klinger',
   'bowler': 'JRMVB Sanjaya',
   'non_striker': 'AJ Finch',
   'runs': {'batsman': 4, 'extras': 0, 'total': 4}}},
 {2.6: {'batsman': 'M Klinger',
   'bowler': 'JRMVB Sanjaya',
   'non_striker': 'AJ Finch',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
 {3.1: {'batsman': 'AJ Finch',
   'bowler': 'KMDN Kulasekara',
   'non_striker': 'M Klinger',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
 {3.2: {'batsman': 'AJ Finch',
   'bowler': 'KMDN Kulasekara',
   'non_striker': 'M Klinger',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {3.3: {'batsman': 'M Klinger',
   'bowler': 'KMDN Kulasekara',
   'non_striker': 'AJ Finch',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {3.4: {'batsman': 'AJ Finch',
   'bowler': 'KMDN Kulasekara',
   'non_striker': 'M Klinger',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {3.5: {'batsman': 'M Klinger',
   'bowler': 'KMDN Kulasekara',
   'non_striker': 'AJ Finch',
   'runs': {'batsman': 4, 'extras': 0, 'total': 4}}},
 {3.6: {'batsman': 'M Klinger',
   'bowler': 'KMDN Kulasekara',
   'non_striker': 'AJ Finch',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {4.1: {'batsman': 'M Klinger',
   'bowler': 'JRMVB Sanjaya',
   'non_striker': 'AJ Finch',
   'runs': {'batsman': 3, 'extras': 0, 'total': 3}}},
 {4.2: {'batsman': 'AJ Finch',
   'bowler': 'JRMVB Sanjaya',
   'non_striker': 'M Klinger',
   'runs': {'batsman': 3, 'extras': 0, 'total': 3}}},
 {4.3: {'batsman': 'M Klinger',
   'bowler': 'JRMVB Sanjaya',
   'non_striker': 'AJ Finch',
   'runs': {'batsman': 4, 'extras': 0, 'total': 4}}},
 {4.4: {'batsman': 'M Klinger',
   'bowler': 'JRMVB Sanjaya',
   'non_striker': 'AJ Finch',
   'runs': {'batsman': 4, 'extras': 0, 'total': 4}}},
 {4.5: {'batsman': 'M Klinger',
   'bowler': 'JRMVB Sanjaya',
   'non_striker': 'AJ Finch',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {4.6: {'batsman': 'AJ Finch',
   'bowler': 'JRMVB Sanjaya',
   'non_striker': 'M Klinger',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {5.1: {'batsman': 'AJ Finch',
   'bowler': 'S Prasanna',
   'non_striker': 'M Klinger',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {5.2: {'batsman': 'M Klinger',
   'bowler': 'S Prasanna',
   'extras': {'wides': 1},
   'non_striker': 'AJ Finch',
   'runs': {'batsman': 0, 'extras': 1, 'total': 1}}},
 {5.3: {'batsman': 'M Klinger',
   'bowler': 'S Prasanna',
   'non_striker': 'AJ Finch',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
 {5.4: {'batsman': 'M Klinger',
   'bowler': 'S Prasanna',
   'non_striker': 'AJ Finch',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
 {5.5: {'batsman': 'M Klinger',
   'bowler': 'S Prasanna',
   'non_striker': 'AJ Finch',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {5.6: {'batsman': 'AJ Finch',
   'bowler': 'S Prasanna',
   'non_striker': 'M Klinger',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {5.7: {'batsman': 'M Klinger',
   'bowler': 'S Prasanna',
   'non_striker': 'AJ Finch',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
 {6.1: {'batsman': 'AJ Finch',
   'bowler': 'PADLR Sandakan',
   'non_striker': 'M Klinger',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {6.2: {'batsman': 'M Klinger',
   'bowler': 'PADLR Sandakan',
   'non_striker': 'AJ Finch',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {6.3: {'batsman': 'AJ Finch',
   'bowler': 'PADLR Sandakan',
   'non_striker': 'M Klinger',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
 {6.4: {'batsman': 'AJ Finch',
   'bowler': 'PADLR Sandakan',
   'non_striker': 'M Klinger',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {6.5: {'batsman': 'M Klinger',
   'bowler': 'PADLR Sandakan',
   'non_striker': 'AJ Finch',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {6.6: {'batsman': 'AJ Finch',
   'bowler': 'PADLR Sandakan',
   'non_striker': 'M Klinger',
   'runs': {'batsman': 2, 'extras': 0, 'total': 2}}},
 {7.1: {'batsman': 'M Klinger',
   'bowler': 'S Prasanna',
   'non_striker': 'AJ Finch',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
 {7.2: {'batsman': 'M Klinger',
   'bowler': 'S Prasanna',
   'non_striker': 'AJ Finch',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {7.3: {'batsman': 'AJ Finch',
   'bowler': 'S Prasanna',
   'non_striker': 'M Klinger',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {7.4: {'batsman': 'M Klinger',
   'bowler': 'S Prasanna',
   'extras': {'byes': 1},
   'non_striker': 'AJ Finch',
   'runs': {'batsman': 0, 'extras': 1, 'total': 1}}},
 {7.5: {'batsman': 'AJ Finch',
   'bowler': 'S Prasanna',
   'non_striker': 'M Klinger',
   'runs': {'batsman': 4, 'extras': 0, 'total': 4}}},
 {7.6: {'batsman': 'AJ Finch',
   'bowler': 'S Prasanna',
   'non_striker': 'M Klinger',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {8.1: {'batsman': 'AJ Finch',
   'bowler': 'PADLR Sandakan',
   'non_striker': 'M Klinger',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {8.2: {'batsman': 'M Klinger',
   'bowler': 'PADLR Sandakan',
   'non_striker': 'AJ Finch',
   'runs': {'batsman': 3, 'extras': 0, 'total': 3}}},
 {8.3: {'batsman': 'AJ Finch',
   'bowler': 'PADLR Sandakan',
   'non_striker': 'M Klinger',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {8.4: {'batsman': 'M Klinger',
   'bowler': 'PADLR Sandakan',
   'non_striker': 'AJ Finch',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
 {8.5: {'batsman': 'M Klinger',
   'bowler': 'PADLR Sandakan',
   'non_striker': 'AJ Finch',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
 {8.6: {'batsman': 'M Klinger',
   'bowler': 'PADLR Sandakan',
   'non_striker': 'AJ Finch',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {9.1: {'batsman': 'M Klinger',
   'bowler': 'S Prasanna',
   'non_striker': 'AJ Finch',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {9.2: {'batsman': 'AJ Finch',
   'bowler': 'S Prasanna',
   'non_striker': 'M Klinger',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
 {9.3: {'batsman': 'AJ Finch',
   'bowler': 'S Prasanna',
   'non_striker': 'M Klinger',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
 {9.4: {'batsman': 'AJ Finch',
   'bowler': 'S Prasanna',
   'non_striker': 'M Klinger',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
 {9.5: {'batsman': 'AJ Finch',
   'bowler': 'S Prasanna',
   'non_striker': 'M Klinger',
   'runs': {'batsman': 6, 'extras': 0, 'total': 6}}},
 {9.6: {'batsman': 'AJ Finch',
   'bowler': 'S Prasanna',
   'non_striker': 'M Klinger',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {10.1: {'batsman': 'AJ Finch',
   'bowler': 'PADLR Sandakan',
   'non_striker': 'M Klinger',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
 {10.2: {'batsman': 'AJ Finch',
   'bowler': 'PADLR Sandakan',
   'extras': {'legbyes': 1},
   'non_striker': 'M Klinger',
   'runs': {'batsman': 0, 'extras': 1, 'total': 1}}},
 {10.3: {'batsman': 'M Klinger',
   'bowler': 'PADLR Sandakan',
   'non_striker': 'AJ Finch',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0},
   'wicket': {'fielders': ['SL Malinga'],
    'kind': 'caught',
    'player_out': 'M Klinger'}}},
 {10.4: {'batsman': 'TM Head',
   'bowler': 'PADLR Sandakan',
   'non_striker': 'AJ Finch',
   'runs': {'batsman': 2, 'extras': 0, 'total': 2}}},
 {10.5: {'batsman': 'TM Head',
   'bowler': 'PADLR Sandakan',
   'non_striker': 'AJ Finch',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
 {10.6: {'batsman': 'TM Head',
   'bowler': 'PADLR Sandakan',
   'non_striker': 'AJ Finch',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
 {11.1: {'batsman': 'AJ Finch',
   'bowler': 'DAS Gunaratne',
   'non_striker': 'TM Head',
   'runs': {'batsman': 6, 'extras': 0, 'total': 6}}},
 {11.2: {'batsman': 'AJ Finch',
   'bowler': 'DAS Gunaratne',
   'non_striker': 'TM Head',
   'runs': {'batsman': 2, 'extras': 0, 'total': 2}}},
 {11.3: {'batsman': 'AJ Finch',
   'bowler': 'DAS Gunaratne',
   'non_striker': 'TM Head',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0},
   'wicket': {'fielders': ['SL Malinga'],
    'kind': 'caught',
    'player_out': 'AJ Finch'}}},
 {11.4: {'batsman': 'TM Head',
   'bowler': 'DAS Gunaratne',
   'non_striker': 'MC Henriques',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {11.5: {'batsman': 'MC Henriques',
   'bowler': 'DAS Gunaratne',
   'non_striker': 'TM Head',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {11.6: {'batsman': 'TM Head',
   'bowler': 'DAS Gunaratne',
   'non_striker': 'MC Henriques',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {12.1: {'batsman': 'TM Head',
   'bowler': 'S Prasanna',
   'non_striker': 'MC Henriques',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
 {12.2: {'batsman': 'TM Head',
   'bowler': 'S Prasanna',
   'non_striker': 'MC Henriques',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {12.3: {'batsman': 'MC Henriques',
   'bowler': 'S Prasanna',
   'non_striker': 'TM Head',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {12.4: {'batsman': 'TM Head',
   'bowler': 'S Prasanna',
   'non_striker': 'MC Henriques',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
 {12.5: {'batsman': 'TM Head',
   'bowler': 'S Prasanna',
   'non_striker': 'MC Henriques',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {12.6: {'batsman': 'MC Henriques',
   'bowler': 'S Prasanna',
   'non_striker': 'TM Head',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {13.1: {'batsman': 'MC Henriques',
   'bowler': 'SL Malinga',
   'non_striker': 'TM Head',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
 {13.2: {'batsman': 'MC Henriques',
   'bowler': 'SL Malinga',
   'extras': {'wides': 1},
   'non_striker': 'TM Head',
   'runs': {'batsman': 0, 'extras': 1, 'total': 1}}},
 {13.3: {'batsman': 'MC Henriques',
   'bowler': 'SL Malinga',
   'non_striker': 'TM Head',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {13.4: {'batsman': 'TM Head',
   'bowler': 'SL Malinga',
   'non_striker': 'MC Henriques',
   'runs': {'batsman': 2, 'extras': 0, 'total': 2}}},
 {13.5: {'batsman': 'TM Head',
   'bowler': 'SL Malinga',
   'non_striker': 'MC Henriques',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {13.6: {'batsman': 'MC Henriques',
   'bowler': 'SL Malinga',
   'non_striker': 'TM Head',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {13.7: {'batsman': 'TM Head',
   'bowler': 'SL Malinga',
   'non_striker': 'MC Henriques',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {14.1: {'batsman': 'TM Head',
   'bowler': 'PADLR Sandakan',
   'non_striker': 'MC Henriques',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {14.2: {'batsman': 'MC Henriques',
   'bowler': 'PADLR Sandakan',
   'non_striker': 'TM Head',
   'runs': {'batsman': 3, 'extras': 0, 'total': 3}}},
 {14.3: {'batsman': 'TM Head',
   'bowler': 'PADLR Sandakan',
   'non_striker': 'MC Henriques',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {14.4: {'batsman': 'MC Henriques',
   'bowler': 'PADLR Sandakan',
   'non_striker': 'TM Head',
   'runs': {'batsman': 6, 'extras': 0, 'total': 6}}},
 {14.5: {'batsman': 'MC Henriques',
   'bowler': 'PADLR Sandakan',
   'non_striker': 'TM Head',
   'runs': {'batsman': 3, 'extras': 0, 'total': 3}}},
 {14.6: {'batsman': 'TM Head',
   'bowler': 'PADLR Sandakan',
   'non_striker': 'MC Henriques',
   'runs': {'batsman': 2, 'extras': 0, 'total': 2}}},
 {15.1: {'batsman': 'MC Henriques',
   'bowler': 'JRMVB Sanjaya',
   'non_striker': 'TM Head',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0},
   'wicket': {'fielders': ['CK Kapugedera'],
    'kind': 'caught',
    'player_out': 'MC Henriques'}}},
 {15.2: {'batsman': 'TM Head',
   'bowler': 'JRMVB Sanjaya',
   'non_striker': 'AJ Turner',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {15.3: {'batsman': 'AJ Turner',
   'bowler': 'JRMVB Sanjaya',
   'non_striker': 'TM Head',
   'runs': {'batsman': 2, 'extras': 0, 'total': 2}}},
 {15.4: {'batsman': 'AJ Turner',
   'bowler': 'JRMVB Sanjaya',
   'non_striker': 'TM Head',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {15.5: {'batsman': 'TM Head',
   'bowler': 'JRMVB Sanjaya',
   'non_striker': 'AJ Turner',
   'runs': {'batsman': 2, 'extras': 0, 'total': 2}}},
 {15.6: {'batsman': 'TM Head',
   'bowler': 'JRMVB Sanjaya',
   'extras': {'wides': 1},
   'non_striker': 'AJ Turner',
   'runs': {'batsman': 0, 'extras': 1, 'total': 1}}},
 {15.7: {'batsman': 'TM Head',
   'bowler': 'JRMVB Sanjaya',
   'non_striker': 'AJ Turner',
   'runs': {'batsman': 6, 'extras': 0, 'total': 6}}},
 {16.1: {'batsman': 'AJ Turner',
   'bowler': 'SL Malinga',
   'non_striker': 'TM Head',
   'runs': {'batsman': 2, 'extras': 0, 'total': 2}}},
 {16.2: {'batsman': 'AJ Turner',
   'bowler': 'SL Malinga',
   'non_striker': 'TM Head',
   'runs': {'batsman': 4, 'extras': 0, 'total': 4}}},
 {16.3: {'batsman': 'AJ Turner',
   'bowler': 'SL Malinga',
   'non_striker': 'TM Head',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {16.4: {'batsman': 'TM Head',
   'bowler': 'SL Malinga',
   'non_striker': 'AJ Turner',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {16.5: {'batsman': 'AJ Turner',
   'bowler': 'SL Malinga',
   'non_striker': 'TM Head',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {16.6: {'batsman': 'TM Head',
   'bowler': 'SL Malinga',
   'non_striker': 'AJ Turner',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {17.1: {'batsman': 'TM Head',
   'bowler': 'KMDN Kulasekara',
   'non_striker': 'AJ Turner',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {17.2: {'batsman': 'AJ Turner',
   'bowler': 'KMDN Kulasekara',
   'non_striker': 'TM Head',
   'runs': {'batsman': 2, 'extras': 0, 'total': 2}}},
 {17.3: {'batsman': 'AJ Turner',
   'bowler': 'KMDN Kulasekara',
   'extras': {'noballs': 1},
   'non_striker': 'TM Head',
   'runs': {'batsman': 0, 'extras': 1, 'total': 1}}},
 {17.4: {'batsman': 'AJ Turner',
   'bowler': 'KMDN Kulasekara',
   'non_striker': 'TM Head',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {17.5: {'batsman': 'TM Head',
   'bowler': 'KMDN Kulasekara',
   'non_striker': 'AJ Turner',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {17.6: {'batsman': 'AJ Turner',
   'bowler': 'KMDN Kulasekara',
   'non_striker': 'TM Head',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {17.7: {'batsman': 'TM Head',
   'bowler': 'KMDN Kulasekara',
   'non_striker': 'AJ Turner',
   'runs': {'batsman': 2, 'extras': 0, 'total': 2}}},
 {18.1: {'batsman': 'AJ Turner',
   'bowler': 'SL Malinga',
   'non_striker': 'TM Head',
   'runs': {'batsman': 2, 'extras': 0, 'total': 2}}},
 {18.2: {'batsman': 'AJ Turner',
   'bowler': 'SL Malinga',
   'non_striker': 'TM Head',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {18.3: {'batsman': 'TM Head',
   'bowler': 'SL Malinga',
   'non_striker': 'AJ Turner',
   'runs': {'batsman': 2, 'extras': 0, 'total': 2}}},
 {18.4: {'batsman': 'TM Head',
   'bowler': 'SL Malinga',
   'non_striker': 'AJ Turner',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0},
   'wicket': {'fielders': ['S Prasanna'],
    'kind': 'caught',
    'player_out': 'TM Head'}}},
 {18.5: {'batsman': 'AJ Turner',
   'bowler': 'SL Malinga',
   'non_striker': 'JP Faulkner',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0},
   'wicket': {'fielders': ['S Prasanna'],
    'kind': 'caught',
    'player_out': 'AJ Turner'}}},
 {18.6: {'batsman': 'JP Faulkner',
   'bowler': 'SL Malinga',
   'non_striker': 'TD Paine',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {19.1: {'batsman': 'JP Faulkner',
   'bowler': 'KMDN Kulasekara',
   'non_striker': 'TD Paine',
   'runs': {'batsman': 4, 'extras': 0, 'total': 4}}},
 {19.2: {'batsman': 'JP Faulkner',
   'bowler': 'KMDN Kulasekara',
   'non_striker': 'TD Paine',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
 {19.3: {'batsman': 'JP Faulkner',
   'bowler': 'KMDN Kulasekara',
   'non_striker': 'TD Paine',
   'runs': {'batsman': 2, 'extras': 0, 'total': 2}}},
 {19.4: {'batsman': 'JP Faulkner',
   'bowler': 'KMDN Kulasekara',
   'extras': {'wides': 1},
   'non_striker': 'TD Paine',
   'runs': {'batsman': 0, 'extras': 1, 'total': 1}}},
 {19.5: {'batsman': 'JP Faulkner',
   'bowler': 'KMDN Kulasekara',
   'non_striker': 'TD Paine',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1},
   'wicket': {'fielders': ['CK Kapugedera', 'KMDN Kulasekara'],
    'kind': 'run out',
    'player_out': 'TD Paine'}}},
 {19.6: {'batsman': 'JP Faulkner',
   'bowler': 'KMDN Kulasekara',
   'non_striker': 'PJ Cummins',
   'runs': {'batsman': 2, 'extras': 0, 'total': 2}}},
 {19.7: {'batsman': 'JP Faulkner',
   'bowler': 'KMDN Kulasekara',
   'non_striker': 'PJ Cummins',
   'runs': {'batsman': 4, 'extras': 0, 'total': 4}}}]

In [35]:
count=1
delivery_df=pd.DataFrame()
for index,row in matches.iterrows():
    if count in [75,108,150,180,268,360,443,458,584,748,982,1052,1111,1226,1345]:
        count+=1
        continue
    count+=1
    ball_of_match=[]
    batsman=[]
    bowler=[]
    runs=[]
    player_of_dismissed=[]
    teams=[]
    batting_team=[]
    match_id=[]
    city=[]
    venue=[]
    for ball in row['innings'][0]['1st innings']['deliveries']:
        for key in ball.keys():
            match_id.append(count)
            batting_team.append(row['innings'][0]['1st innings']['team'])
            teams.append(row['info.teams'])
            ball_of_match.append(key)
            batsman.append(ball[key]['batsman'])
            bowler.append(ball[key]['bowler'])
            runs.append(ball[key]['runs']['total'])
            city.append(row['info.city'])
            venue.append(row['info.venue'])
            try:
                player_of_dismissed.append(ball[key]['wicket']['player_out'])
            except:
                player_of_dismissed.append('0')
    
    loop_df=pd.DataFrame({
        'match_id':match_id,
        'teams':teams,
        'batting_team':batting_team,
        'ball':ball_of_match,
        'batsman':batsman,
        'bowler':bowler,
        'runs':runs,
        'player_dismissed':player_of_dismissed,
        'city':city,
        'venue':venue
    })
    delivery_df=pd.concat([delivery_df,loop_df],ignore_index=True)

In [36]:
delivery_df

,match_id,teams,batting_team,ball,batsman,bowler,runs,player_dismissed,city,venue
0,2,"[Australia, Sri Lanka]",Australia,0.1,AJ Finch,SL Malinga,0,0,NaN,Melbourne Cricket Ground
1,2,"[Australia, Sri Lanka]",Australia,0.2,AJ Finch,SL Malinga,0,0,NaN,Melbourne Cricket Ground
2,2,"[Australia, Sri Lanka]",Australia,0.3,AJ Finch,SL Malinga,1,0,NaN,Melbourne Cricket Ground
3,2,"[Australia, Sri Lanka]",Australia,0.4,M Klinger,SL Malinga,2,0,NaN,Melbourne Cricket Ground
4,2,"[Australia, Sri Lanka]",Australia,0.5,M Klinger,SL Malinga,0,0,NaN,Melbourne Cricket Ground
...,...,...,...,...,...,...,...,...,...,...
115320,964,"[Sri Lanka, Australia]",Sri Lanka,19.3,SMSM Senanayake,MA Starc,1,0,Colombo,R Premadasa Stadium
115321,964,"[Sri Lanka, Australia]",Sri Lanka,19.4,DM de Silva,MA Starc,0,0,Colombo,R Premadasa Stadium
115322,964,"[Sri Lanka, Australia]",Sri Lanka,19.5,DM de Silva,MA Starc,0,DM de Silva,Colombo,R Premadasa Stadium
115323,964,"[Sri Lanka, Australia]",Sri Lanka,19.6,SMSM Senanayake,MA Starc,2,0,Colombo,R Premadasa Stadium
115324,964,"[Sri Lanka, Australia]",Sri Lanka,19.7,SMSM Senanayake,MA Starc,1,0,Colombo,R Premadasa Stadium

In [37]:
def bowl(row):
    for team in row['teams']:
        if team!= row['batting_team']:
            return team

In [38]:
delivery_df['bowling_team']=delivery_df.apply(bowl,axis=1)

In [39]:
delivery_df

,match_id,teams,batting_team,ball,batsman,bowler,runs,player_dismissed,city,venue,bowling_team
0,2,"[Australia, Sri Lanka]",Australia,0.1,AJ Finch,SL Malinga,0,0,NaN,Melbourne Cricket Ground,Sri Lanka
1,2,"[Australia, Sri Lanka]",Australia,0.2,AJ Finch,SL Malinga,0,0,NaN,Melbourne Cricket Ground,Sri Lanka
2,2,"[Australia, Sri Lanka]",Australia,0.3,AJ Finch,SL Malinga,1,0,NaN,Melbourne Cricket Ground,Sri Lanka
3,2,"[Australia, Sri Lanka]",Australia,0.4,M Klinger,SL Malinga,2,0,NaN,Melbourne Cricket Ground,Sri Lanka
4,2,"[Australia, Sri Lanka]",Australia,0.5,M Klinger,SL Malinga,0,0,NaN,Melbourne Cricket Ground,Sri Lanka
...,...,...,...,...,...,...,...,...,...,...,...
115320,964,"[Sri Lanka, Australia]",Sri Lanka,19.3,SMSM Senanayake,MA Starc,1,0,Colombo,R Premadasa Stadium,Australia
115321,964,"[Sri Lanka, Australia]",Sri Lanka,19.4,DM de Silva,MA Starc,0,0,Colombo,R Premadasa Stadium,Australia
115322,964,"[Sri Lanka, Australia]",Sri Lanka,19.5,DM de Silva,MA Starc,0,DM de Silva,Colombo,R Premadasa Stadium,Australia
115323,964,"[Sri Lanka, Australia]",Sri Lanka,19.6,SMSM Senanayake,MA Starc,2,0,Colombo,R Premadasa Stadium,Australia
115324,964,"[Sri Lanka, Australia]",Sri Lanka,19.7,SMSM Senanayake,MA Starc,1,0,Colombo,R Premadasa Stadium,Australia

In [40]:
delivery_df['batting_team'].unique()

array(['Australia', 'Hong Kong', 'Zimbabwe', 'India', 'Bangladesh',
       'New Zealand', 'South Africa', 'England', 'West Indies', 'Ireland',
       'Afghanistan', 'Pakistan', 'United Arab Emirates', 'Scotland',
       'Oman', 'Papua New Guinea', 'Sri Lanka', 'Netherlands', 'Nepal',
       'Vanuatu', 'Philippines', 'United States of America', 'Germany',
       'Ghana', 'Uganda', 'Kenya', 'Namibia', 'Nigeria', 'Botswana',
       'Guernsey', 'Denmark', 'Jersey', 'Italy', 'Norway', 'Thailand',
       'Malaysia', 'Maldives', 'Singapore', 'Kuwait', 'Bermuda', 'Canada',
       'Cayman Islands', 'Portugal', 'Gibraltar', 'Spain', 'Bhutan',
       'Qatar', 'Iran', 'Belgium', 'Isle of Man', 'Bulgaria', 'Romania'],
      dtype=object)

In [41]:
delivery_df['bowling_team'].unique()

array(['Sri Lanka', 'Ireland', 'India', 'Zimbabwe', 'New Zealand',
       'Bangladesh', 'England', 'South Africa', 'Afghanistan', 'Pakistan',
       'West Indies', 'United Arab Emirates', 'Australia', 'Hong Kong',
       'Netherlands', 'Oman', 'Scotland', 'Papua New Guinea',
       'ICC World XI', 'Nepal', 'Philippines', 'Vanuatu',
       'United States of America', 'Italy', 'Namibia', 'Botswana',
       'Ghana', 'Uganda', 'Germany', 'Norway', 'Denmark', 'Guernsey',
       'Malaysia', 'Maldives', 'Thailand', 'Qatar', 'Kuwait', 'Singapore',
       'Cayman Islands', 'Canada', 'Bermuda', 'Kenya', 'Nigeria',
       'Jersey', 'Spain', 'Portugal', 'Bhutan', 'Saudi Arabia', 'Bahrain',
       'Luxembourg', 'Czech Republic', 'Romania', 'Bulgaria'],
      dtype=object)

In [42]:
teams=[
    'Australia',
    'India',
    'Bangladesh',
    'New Zealand',
    'South Africa',
    'England',
    'West Indies',
    'Afganisthan',
    'Pakistan',
    'Sri Lanka'
]

In [43]:
delivery_df=delivery_df[delivery_df['batting_team'].isin(teams)]
delivery_df=delivery_df[delivery_df['bowling_team'].isin(teams)]

In [44]:
output = delivery_df[['match_id','batting_team','bowling_team','ball','runs','player_dismissed','city','venue']]

In [45]:
output

,match_id,batting_team,bowling_team,ball,runs,player_dismissed,city,venue
0,2,Australia,Sri Lanka,0.1,0,0,NaN,Melbourne Cricket Ground
1,2,Australia,Sri Lanka,0.2,0,0,NaN,Melbourne Cricket Ground
2,2,Australia,Sri Lanka,0.3,1,0,NaN,Melbourne Cricket Ground
3,2,Australia,Sri Lanka,0.4,2,0,NaN,Melbourne Cricket Ground
4,2,Australia,Sri Lanka,0.5,0,0,NaN,Melbourne Cricket Ground
...,...,...,...,...,...,...,...,...
115320,964,Sri Lanka,Australia,19.3,1,0,Colombo,R Premadasa Stadium
115321,964,Sri Lanka,Australia,19.4,0,0,Colombo,R Premadasa Stadium
115322,964,Sri Lanka,Australia,19.5,0,DM de Silva,Colombo,R Premadasa Stadium
115323,964,Sri Lanka,Australia,19.6,2,0,Colombo,R Premadasa Stadium
115324,964,Sri Lanka,Australia,19.7,1,0,Colombo,R Premadasa Stadium

In [46]:
pickle.dump(output,open('dataset_level2.pkl','wb'))

# Feature Extraction

In [47]:
import numpy as np
import pandas as pd
import pickle

In [48]:
df=pickle.load(open('dataset_level2.pkl',"rb"))

Required fields:
1. batting team[done]
2. bowling team[done]
3. city[done]
4. current score[done]
5. balls left[done]
6. wickets left[done]
7. current rr[done]
8. last five

In [49]:
df.isnull().sum()

match_id               0
batting_team           0
bowling_team           0
ball                   0
runs                   0
player_dismissed       0
city                8426
venue                  0
dtype: int64

In [50]:
df[df['city'].isnull()]['venue'].value_counts()

venue
Dubai International Cricket Stadium        2969
Pallekele International Cricket Stadium    2066
Melbourne Cricket Ground                   1453
Sydney Cricket Ground                       749
Adelaide Oval                               498
Harare Sports Club                          372
Sylhet International Cricket Stadium        128
Sharjah Cricket Stadium                     127
Carrara Oval                                 64
Name: count, dtype: int64

In [51]:
cities=np.where(df['city'].isnull(),df['venue'].str.split().apply(lambda x:x[0]),df['city'])

In [52]:
df['city']=cities

In [53]:
df.isnull().sum()

match_id            0
batting_team        0
bowling_team        0
ball                0
runs                0
player_dismissed    0
city                0
venue               0
dtype: int64

In [54]:
df.drop(columns=['venue'],inplace=True)

In [55]:
df

,match_id,batting_team,bowling_team,ball,runs,player_dismissed,city
0,2,Australia,Sri Lanka,0.1,0,0,Melbourne
1,2,Australia,Sri Lanka,0.2,0,0,Melbourne
2,2,Australia,Sri Lanka,0.3,1,0,Melbourne
3,2,Australia,Sri Lanka,0.4,2,0,Melbourne
4,2,Australia,Sri Lanka,0.5,0,0,Melbourne
...,...,...,...,...,...,...,...
115320,964,Sri Lanka,Australia,19.3,1,0,Colombo
115321,964,Sri Lanka,Australia,19.4,0,0,Colombo
115322,964,Sri Lanka,Australia,19.5,0,DM de Silva,Colombo
115323,964,Sri Lanka,Australia,19.6,2,0,Colombo
115324,964,Sri Lanka,Australia,19.7,1,0,Colombo

In [56]:
df['city'].value_counts()

city
Colombo          3832
Johannesburg     3331
Mirpur           3313
Dubai            2969
Auckland         2532
                 ...
Victoria          123
Potchefstroom     122
Dharamsala        122
Ahmedabad         121
Carrara            64
Name: count, Length: 85, dtype: int64

We only want to keep the record of places where there are at least 600 bowls bowled

In [57]:
eligible_cities=df['city'].value_counts()[df['city'].value_counts()>600].index.tolist()

In [58]:
df=df[df['city'].isin(eligible_cities)]

In [59]:
df

,match_id,batting_team,bowling_team,ball,runs,player_dismissed,city
0,2,Australia,Sri Lanka,0.1,0,0,Melbourne
1,2,Australia,Sri Lanka,0.2,0,0,Melbourne
2,2,Australia,Sri Lanka,0.3,1,0,Melbourne
3,2,Australia,Sri Lanka,0.4,2,0,Melbourne
4,2,Australia,Sri Lanka,0.5,0,0,Melbourne
...,...,...,...,...,...,...,...
115320,964,Sri Lanka,Australia,19.3,1,0,Colombo
115321,964,Sri Lanka,Australia,19.4,0,0,Colombo
115322,964,Sri Lanka,Australia,19.5,0,DM de Silva,Colombo
115323,964,Sri Lanka,Australia,19.6,2,0,Colombo
115324,964,Sri Lanka,Australia,19.7,1,0,Colombo

In [60]:
df['current_score']=df.groupby('match_id')['runs'].cumsum()

C:\Users\User\AppData\Local\Temp\ipykernel_6572\2789925231.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['current_score']=df.groupby('match_id')['runs'].cumsum()

In [61]:
df

,match_id,batting_team,bowling_team,ball,runs,player_dismissed,city,current_score
0,2,Australia,Sri Lanka,0.1,0,0,Melbourne,0
1,2,Australia,Sri Lanka,0.2,0,0,Melbourne,0
2,2,Australia,Sri Lanka,0.3,1,0,Melbourne,1
3,2,Australia,Sri Lanka,0.4,2,0,Melbourne,3
4,2,Australia,Sri Lanka,0.5,0,0,Melbourne,3
...,...,...,...,...,...,...,...,...
115320,964,Sri Lanka,Australia,19.3,1,0,Colombo,125
115321,964,Sri Lanka,Australia,19.4,0,0,Colombo,125
115322,964,Sri Lanka,Australia,19.5,0,DM de Silva,Colombo,125
115323,964,Sri Lanka,Australia,19.6,2,0,Colombo,127
115324,964,Sri Lanka,Australia,19.7,1,0,Colombo,128

In [62]:
df['current_over']=df['ball'].apply(lambda x: int(str(x).split('.')[0])+1)
df['ball_no']=df['ball'].apply(lambda x: str(x).split('.')[1])

C:\Users\User\AppData\Local\Temp\ipykernel_6572\2518852607.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['current_over']=df['ball'].apply(lambda x: int(str(x).split('.')[0])+1)
C:\Users\User\AppData\Local\Temp\ipykernel_6572\2518852607.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['ball_no']=df['ball'].apply(lambda x: str(x).split('.')[1])

In [63]:
df

,match_id,batting_team,bowling_team,ball,runs,player_dismissed,city,current_score,current_over,ball_no
0,2,Australia,Sri Lanka,0.1,0,0,Melbourne,0,1,1
1,2,Australia,Sri Lanka,0.2,0,0,Melbourne,0,1,2
2,2,Australia,Sri Lanka,0.3,1,0,Melbourne,1,1,3
3,2,Australia,Sri Lanka,0.4,2,0,Melbourne,3,1,4
4,2,Australia,Sri Lanka,0.5,0,0,Melbourne,3,1,5
...,...,...,...,...,...,...,...,...,...,...
115320,964,Sri Lanka,Australia,19.3,1,0,Colombo,125,20,3
115321,964,Sri Lanka,Australia,19.4,0,0,Colombo,125,20,4
115322,964,Sri Lanka,Australia,19.5,0,DM de Silva,Colombo,125,20,5
115323,964,Sri Lanka,Australia,19.6,2,0,Colombo,127,20,6
115324,964,Sri Lanka,Australia,19.7,1,0,Colombo,128,20,7

In [64]:
df['balls_bowled']=((df['current_over'].astype('int')-1)*6) + df['ball_no'].astype('int')

C:\Users\User\AppData\Local\Temp\ipykernel_6572\904753664.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['balls_bowled']=((df['current_over'].astype('int')-1)*6) + df['ball_no'].astype('int')

In [65]:
df

,match_id,batting_team,bowling_team,ball,runs,player_dismissed,city,current_score,current_over,ball_no,balls_bowled
0,2,Australia,Sri Lanka,0.1,0,0,Melbourne,0,1,1,1
1,2,Australia,Sri Lanka,0.2,0,0,Melbourne,0,1,2,2
2,2,Australia,Sri Lanka,0.3,1,0,Melbourne,1,1,3,3
3,2,Australia,Sri Lanka,0.4,2,0,Melbourne,3,1,4,4
4,2,Australia,Sri Lanka,0.5,0,0,Melbourne,3,1,5,5
...,...,...,...,...,...,...,...,...,...,...,...
115320,964,Sri Lanka,Australia,19.3,1,0,Colombo,125,20,3,117
115321,964,Sri Lanka,Australia,19.4,0,0,Colombo,125,20,4,118
115322,964,Sri Lanka,Australia,19.5,0,DM de Silva,Colombo,125,20,5,119
115323,964,Sri Lanka,Australia,19.6,2,0,Colombo,127,20,6,120
115324,964,Sri Lanka,Australia,19.7,1,0,Colombo,128,20,7,121

In [66]:
df['balls_left']=120-df['balls_bowled']
df['balls_left']=df['balls_left'].apply(lambda x:0 if x<0 else x)

C:\Users\User\AppData\Local\Temp\ipykernel_6572\3502974883.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['balls_left']=120-df['balls_bowled']
C:\Users\User\AppData\Local\Temp\ipykernel_6572\3502974883.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['balls_left']=df['balls_left'].apply(lambda x:0 if x<0 else x)

In [67]:
type(df['player_dismissed'][0])

str

In [68]:
df

,match_id,batting_team,bowling_team,ball,runs,player_dismissed,city,current_score,current_over,ball_no,balls_bowled,balls_left
0,2,Australia,Sri Lanka,0.1,0,0,Melbourne,0,1,1,1,119
1,2,Australia,Sri Lanka,0.2,0,0,Melbourne,0,1,2,2,118
2,2,Australia,Sri Lanka,0.3,1,0,Melbourne,1,1,3,3,117
3,2,Australia,Sri Lanka,0.4,2,0,Melbourne,3,1,4,4,116
4,2,Australia,Sri Lanka,0.5,0,0,Melbourne,3,1,5,5,115
...,...,...,...,...,...,...,...,...,...,...,...,...
115320,964,Sri Lanka,Australia,19.3,1,0,Colombo,125,20,3,117,3
115321,964,Sri Lanka,Australia,19.4,0,0,Colombo,125,20,4,118,2
115322,964,Sri Lanka,Australia,19.5,0,DM de Silva,Colombo,125,20,5,119,1
115323,964,Sri Lanka,Australia,19.6,2,0,Colombo,127,20,6,120,0
115324,964,Sri Lanka,Australia,19.7,1,0,Colombo,128,20,7,121,0

In [69]:
df['player_dismissed']=df['player_dismissed'].apply(lambda x:x if x=='0' else '1')
df['player_dismissed']=df['player_dismissed'].astype('int')
#df['player_dismissed']=df.groupby(['match_id','batting_team'])['player_dismissed'].cumsum()

C:\Users\User\AppData\Local\Temp\ipykernel_6572\2025235322.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['player_dismissed']=df['player_dismissed'].apply(lambda x:x if x=='0' else '1')
C:\Users\User\AppData\Local\Temp\ipykernel_6572\2025235322.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['player_dismissed']=df['player_dismissed'].astype('int')

In [70]:
# Group by 'match_id' and 'batting_team', then compute cumulative sum of 'player_dismissed'
df['player_dismissed_cumsum'] = df.groupby(['match_id', 'batting_team'])['player_dismissed'].cumsum()

# Ensure that cumulative dismissals do not exceed 10
df['player_dismissed_cumsum'] = df['player_dismissed_cumsum'].clip(upper=10)

C:\Users\User\AppData\Local\Temp\ipykernel_6572\3930638309.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['player_dismissed_cumsum'] = df.groupby(['match_id', 'batting_team'])['player_dismissed'].cumsum()
C:\Users\User\AppData\Local\Temp\ipykernel_6572\3930638309.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['player_dismissed_cumsum'] = df['player_dismissed_cumsum'].clip(upper=10)

In [71]:
df

,match_id,batting_team,bowling_team,ball,runs,player_dismissed,city,current_score,current_over,ball_no,balls_bowled,balls_left,player_dismissed_cumsum
0,2,Australia,Sri Lanka,0.1,0,0,Melbourne,0,1,1,1,119,0
1,2,Australia,Sri Lanka,0.2,0,0,Melbourne,0,1,2,2,118,0
2,2,Australia,Sri Lanka,0.3,1,0,Melbourne,1,1,3,3,117,0
3,2,Australia,Sri Lanka,0.4,2,0,Melbourne,3,1,4,4,116,0
4,2,Australia,Sri Lanka,0.5,0,0,Melbourne,3,1,5,5,115,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
115320,964,Sri Lanka,Australia,19.3,1,0,Colombo,125,20,3,117,3,8
115321,964,Sri Lanka,Australia,19.4,0,0,Colombo,125,20,4,118,2,8
115322,964,Sri Lanka,Australia,19.5,0,1,Colombo,125,20,5,119,1,9
115323,964,Sri Lanka,Australia,19.6,2,0,Colombo,127,20,6,120,0,9
115324,964,Sri Lanka,Australia,19.7,1,0,Colombo,128,20,7,121,0,9

In [72]:
df['wickets_left']=10-df['player_dismissed_cumsum']

C:\Users\User\AppData\Local\Temp\ipykernel_6572\78817561.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['wickets_left']=10-df['player_dismissed_cumsum']

In [73]:
df

,match_id,batting_team,bowling_team,ball,runs,player_dismissed,city,current_score,current_over,ball_no,balls_bowled,balls_left,player_dismissed_cumsum,wickets_left
0,2,Australia,Sri Lanka,0.1,0,0,Melbourne,0,1,1,1,119,0,10
1,2,Australia,Sri Lanka,0.2,0,0,Melbourne,0,1,2,2,118,0,10
2,2,Australia,Sri Lanka,0.3,1,0,Melbourne,1,1,3,3,117,0,10
3,2,Australia,Sri Lanka,0.4,2,0,Melbourne,3,1,4,4,116,0,10
4,2,Australia,Sri Lanka,0.5,0,0,Melbourne,3,1,5,5,115,0,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
115320,964,Sri Lanka,Australia,19.3,1,0,Colombo,125,20,3,117,3,8,2
115321,964,Sri Lanka,Australia,19.4,0,0,Colombo,125,20,4,118,2,8,2
115322,964,Sri Lanka,Australia,19.5,0,1,Colombo,125,20,5,119,1,9,1
115323,964,Sri Lanka,Australia,19.6,2,0,Colombo,127,20,6,120,0,9,1
115324,964,Sri Lanka,Australia,19.7,1,0,Colombo,128,20,7,121,0,9,1

In [74]:
df['wickets_left'].value_counts()

wickets_left
10    9398
9     8865
8     7928
7     7556
6     5678
5     4208
4     2411
3     1535
2      843
1      321
0       42
Name: count, dtype: int64

In [75]:
 df['player_dismissed_cumsum'].value_counts()

player_dismissed_cumsum
0     9398
1     8865
2     7928
3     7556
4     5678
5     4208
6     2411
7     1535
8      843
9      321
10      42
Name: count, dtype: int64

Current Run Rate calculation

In [76]:
df['current_run_rate']=(df['current_score']/df['current_over'])

C:\Users\User\AppData\Local\Temp\ipykernel_6572\2002225652.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['current_run_rate']=(df['current_score']/df['current_over'])

In [77]:
df

,match_id,batting_team,bowling_team,ball,runs,player_dismissed,city,current_score,current_over,ball_no,balls_bowled,balls_left,player_dismissed_cumsum,wickets_left,current_run_rate
0,2,Australia,Sri Lanka,0.1,0,0,Melbourne,0,1,1,1,119,0,10,0.00
1,2,Australia,Sri Lanka,0.2,0,0,Melbourne,0,1,2,2,118,0,10,0.00
2,2,Australia,Sri Lanka,0.3,1,0,Melbourne,1,1,3,3,117,0,10,1.00
3,2,Australia,Sri Lanka,0.4,2,0,Melbourne,3,1,4,4,116,0,10,3.00
4,2,Australia,Sri Lanka,0.5,0,0,Melbourne,3,1,5,5,115,0,10,3.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
115320,964,Sri Lanka,Australia,19.3,1,0,Colombo,125,20,3,117,3,8,2,6.25
115321,964,Sri Lanka,Australia,19.4,0,0,Colombo,125,20,4,118,2,8,2,6.25
115322,964,Sri Lanka,Australia,19.5,0,1,Colombo,125,20,5,119,1,9,1,6.25
115323,964,Sri Lanka,Australia,19.6,2,0,Colombo,127,20,6,120,0,9,1,6.35
115324,964,Sri Lanka,Australia,19.7,1,0,Colombo,128,20,7,121,0,9,1,6.40

In [78]:
groups=df.groupby('match_id')
match_ids=df['match_id'].unique()
last_five=[]
for id in match_ids:
    last_five.extend(groups.get_group(id).rolling(window=30)['runs'].sum().values.tolist())

In [79]:
df['last_five']=last_five

C:\Users\User\AppData\Local\Temp\ipykernel_6572\2265987530.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['last_five']=last_five

In [80]:
df

,match_id,batting_team,bowling_team,ball,runs,player_dismissed,city,current_score,current_over,ball_no,balls_bowled,balls_left,player_dismissed_cumsum,wickets_left,current_run_rate,last_five
0,2,Australia,Sri Lanka,0.1,0,0,Melbourne,0,1,1,1,119,0,10,0.00,NaN
1,2,Australia,Sri Lanka,0.2,0,0,Melbourne,0,1,2,2,118,0,10,0.00,NaN
2,2,Australia,Sri Lanka,0.3,1,0,Melbourne,1,1,3,3,117,0,10,1.00,NaN
3,2,Australia,Sri Lanka,0.4,2,0,Melbourne,3,1,4,4,116,0,10,3.00,NaN
4,2,Australia,Sri Lanka,0.5,0,0,Melbourne,3,1,5,5,115,0,10,3.00,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
115320,964,Sri Lanka,Australia,19.3,1,0,Colombo,125,20,3,117,3,8,2,6.25,32.0
115321,964,Sri Lanka,Australia,19.4,0,0,Colombo,125,20,4,118,2,8,2,6.25,32.0
115322,964,Sri Lanka,Australia,19.5,0,1,Colombo,125,20,5,119,1,9,1,6.25,32.0
115323,964,Sri Lanka,Australia,19.6,2,0,Colombo,127,20,6,120,0,9,1,6.35,33.0
115324,964,Sri Lanka,Australia,19.7,1,0,Colombo,128,20,7,121,0,9,1,6.40,32.0

In [81]:
df['current_score'].value_counts()

current_score
1      516
0      489
4      478
5      418
14     385
      ...
239      1
249      1
253      1
257      1
240      1
Name: count, Length: 253, dtype: int64

In [82]:
#df[['batting_team','bowling_team','city','current_score','balls_left','wickets_left','crr','last_five','']]

In [83]:
final_df=df.groupby('match_id')['runs'].sum().reset_index().merge(df,on='match_id')

In [84]:
final_df

,match_id,runs_x,batting_team,bowling_team,ball,runs_y,player_dismissed,city,current_score,current_over,ball_no,balls_bowled,balls_left,player_dismissed_cumsum,wickets_left,current_run_rate,last_five
0,2,168,Australia,Sri Lanka,0.1,0,0,Melbourne,0,1,1,1,119,0,10,0.00,NaN
1,2,168,Australia,Sri Lanka,0.2,0,0,Melbourne,0,1,2,2,118,0,10,0.00,NaN
2,2,168,Australia,Sri Lanka,0.3,1,0,Melbourne,1,1,3,3,117,0,10,1.00,NaN
3,2,168,Australia,Sri Lanka,0.4,2,0,Melbourne,3,1,4,4,116,0,10,3.00,NaN
4,2,168,Australia,Sri Lanka,0.5,0,0,Melbourne,3,1,5,5,115,0,10,3.00,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48780,964,128,Sri Lanka,Australia,19.3,1,0,Colombo,125,20,3,117,3,8,2,6.25,32.0
48781,964,128,Sri Lanka,Australia,19.4,0,0,Colombo,125,20,4,118,2,8,2,6.25,32.0
48782,964,128,Sri Lanka,Australia,19.5,0,1,Colombo,125,20,5,119,1,9,1,6.25,32.0
48783,964,128,Sri Lanka,Australia,19.6,2,0,Colombo,127,20,6,120,0,9,1,6.35,33.0
48784,964,128,Sri Lanka,Australia,19.7,1,0,Colombo,128,20,7,121,0,9,1,6.40,32.0

In [85]:
final_df=final_df[['batting_team','bowling_team','city','current_score','balls_left','wickets_left','current_run_rate','last_five','runs_x']]

In [86]:
final_df.isnull().sum()

batting_team            0
bowling_team            0
city                    0
current_score           0
balls_left              0
wickets_left            0
current_run_rate        0
last_five           11589
runs_x                  0
dtype: int64

In [87]:
final_df=final_df.sample(final_df.shape[0])

In [88]:
final_df.sample(5)

,batting_team,bowling_team,city,current_score,balls_left,wickets_left,current_run_rate,last_five,runs_x
34524,Pakistan,South Africa,Centurion,173,14,5,9.611111,38.0,195
35728,India,Pakistan,Bangalore,2,116,10,2.000000,NaN,133
16015,South Africa,England,Cape Town,83,50,7,6.916667,34.0,154
5167,India,Sri Lanka,Colombo,26,94,8,5.200000,NaN,174
4954,India,South Africa,Cape Town,84,55,8,7.636364,28.0,172

In [89]:
final_df['runs_x'].value_counts()

runs_x
153    1373
147    1119
168     996
150     993
191     991
       ...
97       69
77       55
80       44
25       16
2         2
Name: count, Length: 133, dtype: int64

In [90]:
match_df=pd.DataFrame()

In [91]:
pickle.dump(final_df,open('dataset_level3.pkl','wb'))

In [4]:
df=pickle.load(open('dataset_level3.pkl',"rb"))

# Splitting the data

In [93]:
X=df.drop(columns=['runs_x'])
y=df['runs_x']

In [94]:
from sklearn.model_selection import train_test_split
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import StandardScaler
from sklearn.ensemble import RandomForestRegressor
from xgboost import XGBRegressor
from sklearn.metrics import r2_score,mean_absolute_error

In [95]:
df.sample(5)

,batting_team,bowling_team,city,current_score,balls_left,wickets_left,current_run_rate,last_five,runs_x
32228,Sri Lanka,England,Pallekele,128,22,5,7.529412,46.0,169
5126,Sri Lanka,India,Mumbai,112,13,3,6.222222,26.0,135
15095,West Indies,Bangladesh,Johannesburg,23,97,9,5.750000,NaN,164
13334,Pakistan,New Zealand,Hamilton,147,3,4,7.350000,52.0,163
23965,Australia,India,Barbados,154,25,8,9.625000,50.0,184

In [96]:
trf=ColumnTransformer([
    ('trf',OneHotEncoder(sparse_output=False,drop='first',dtype=int),['batting_team','bowling_team','city'])
],remainder='passthrough'
)

In [97]:
pipe1=Pipeline(steps=[
    ('step1',trf),
    ('step2',StandardScaler()),
    ('step3',XGBRegressor(n_estimators=1000,learning_rate=0.2,max_depth=12,random_state=42))
])

In [98]:
pipe2 = Pipeline(steps=[
    ('step1',trf),
    ('step2',StandardScaler()),
    ('step3',RandomForestRegressor(n_estimators=1000,random_state=42,bootstrap=True,n_jobs=-1))
])

In [99]:
from sklearn.model_selection import GridSearchCV
# Define Pipeline with Early Stopping and Tuned Parameters
pipe3 = Pipeline(steps=[
    ('step1', trf),
    ('step2', StandardScaler()),
    ('step3', XGBRegressor(
        n_estimators=500, 
        learning_rate=0.1, 
        max_depth=8, 
        subsample=0.8, 
        colsample_bytree=0.8, 
        random_state=42
    ))
])

# Optional: Use GridSearchCV for parameter tuning
param_grid = {
    'step3__n_estimators': [300, 500, 700],
    'step3__max_depth': [6, 8, 10],
    'step3__learning_rate': [0.1, 0.2]
}

# Wrap in GridSearchCV
grid_search = GridSearchCV(pipe1, param_grid, cv=3, scoring='neg_mean_squared_error')

In [100]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=42)

In [106]:
pipe1.fit(X_train,y_train)
pipe2.fit(X_train,y_train)
y_pred1=pipe1.predict(X_test)
y_pred2=pipe2.predict(X_test)

In [107]:
pipe3.fit(X_train,y_train)

Pipeline(steps=[('step1',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('trf',
                                                  OneHotEncoder(drop='first',
                                                                dtype=<class 'int'>,
                                                                sparse_output=False),
                                                  ['batting_team',
                                                   'bowling_team', 'city'])])),
                ('step2', StandardScaler()),
                ('step3',
                 XGBRegressor(base_score=None, booster=None, callbacks=None,
                              colsample_bylevel=None, colsample_bynode=None,
                              colsample_bytr...
                              feature_types=None, gamma=None, grow_policy=None,
                              importance_type=None,
                              interaction_constraints=None, learning_rate=0.1,
                              max_bin=None, max_cat_threshold=None,
                              max_cat_to_onehot=None, max_delta_step=None,
                              max_depth=8, max_leaves=None,
                              min_child_weight=None, missing=nan,
                              monotone_constraints=None, multi_strategy=None,
                              n_estimators=500, n_jobs=None,
                              num_parallel_tree=None, random_state=42, ...))])

In [108]:
y_pred3=pipe3.predict(X_test)

In [114]:
print('XGBoost Regressor r2 Score = ',r2_score(y_test,y_pred1))
print('Random Forest Regressor r2 Score = ',r2_score(y_test,y_pred2))
print('XGBoost Regressor optimized r2 Score = ',r2_score(y_test,y_pred3))

XGBoost Regressor r2 Score =  0.9553438169349335
Random Forest Regressor r2 Score =  0.9352856926822902
XGBoost Regressor optimized r2 Score =  0.9527167743219891

In [112]:
# from sklearn.model_selection import cross_val_score

# # Store pipelines in a list to iterate over
# pipelines = [pipe1, pipe2, pipe3]
# pipeline_names = ["pipe1", "pipe2", "pipe3"]

# # Dictionary to store results
# results = {}

# # Perform cross-validation for each pipeline
# for name, pipe in zip(pipeline_names, pipelines):
#     # Calculate cross-validated MSE scores
#     scores = cross_val_score(pipe, X, y, cv=5, scoring='neg_mean_squared_error')
#     mse_scores = -scores  # Convert negative MSE to positive

#     # Store the results
#     results[name] = {
#         "MSE Scores per Fold": mse_scores,
#         "Mean MSE": mse_scores.mean(),
#         "Standard Deviation of MSE": mse_scores.std()
#     }

# # Display the results for each pipeline
# for name, result in results.items():
#     print(f"\n{name}:")
#     print("MSE Scores for each fold:", result["MSE Scores per Fold"])
#     print("Mean MSE:", result["Mean MSE"])
#     print("Standard Deviation of MSE:", result["Standard Deviation of MSE"])

pipe1:
MSE Scores for each fold: [44.32928543 58.11689207 46.04617941 43.32476685 44.57398022]
Mean MSE: 47.278220795598926
Standard Deviation of MSE: 5.488782303389406

pipe2:
MSE Scores for each fold: [67.19666444 76.13978577 64.44342234 62.53552529 63.89444376]
Mean MSE: 66.84196832114475
Standard Deviation of MSE: 4.890022372337476

pipe3:
MSE Scores for each fold: [46.44081427 57.26891029 49.32927155 45.93837796 47.3483738 ]
Mean MSE: 49.26514957412898
Standard Deviation of MSE: 4.166115836046137

In [ ]:
pickle.dump(pipe1,open('pipe1.pkl','wb'))
pickle.dump(pipe2,open('pipe2.pkl','wb'))
pickle.dump(pipe3,open('pipe3.pkl','wb'))